<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Civilization</title>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.divTableCell').click(function () {
                console.log(this.id);
                var clickedId = this.id;
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: { clickedTileId: clickedId},
                    url: '@Url.Action("Move")',
                    success: function (result) {
                        if (result.legalMove)
                        {
                            console.log(result.clickedTileRes);
                            $("#" + clickedId).removeClass(result.clickedTileRes);
                            $("#" + clickedId).addClass("playerPresent");
                            console.log(result.currentTileId);
                            $("#" + result.currentTileId).removeClass("playerPresent");
                            $("#" + result.currentTileId).addClass("None");
                            $("#wood-hud").html("Wood: " + result.woodEq);
                            $("#metal-hud").html("Metal: " + result.metalEq);
                            $("#gold-hud").html("Gold: " + result.goldEq);
                            $("#stone-hud").html("Stone: " + result.stoneEq);
                            $("#moves-hud").html("Moves Left: " + result.movesLeft);

                        }

                    }
                });
            });
            //$('.divTableCell').click(function () {
            //    $.ajax({
            //        type: 'GET',
            //        data: ''
            //    });
            //});
        });//end JQuery bracket
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
